html
  head
    title Submission Successful
    link(rel='stylesheet', href='/css/submit-success-styles.css')
  body
    .success-container
      h2 Submission Successful
      p Your appeal has been submitted successfully.
      a(href='/profile') Back to Profile
