body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .profile-container {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .top-content {
    display: flex;
    align-items: center;
  }
  
  .user-info {
    width: 40%;
  }
  
  .heading-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Add margin to separate from the top content */
  }
  
  .my-appeals {
    margin: 0; /* Remove default margin for h2 */
  }
  
  .add-appeal-btn button {
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  hr {
    margin: 20px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  